@page
@model PrivacyModel
@{
    ViewData["Title"] = "ABOUT US";
}
<h1>@ViewData["Title"]</h1>


<p>Embrace the essence of Brussels in the heart of Dubai with the city’s original Belgian Café; from the vintage style two-floor wooden decor, large bar counter with a variety of your favourite hops on tap, to a generous outside terrace overlooking the city skyline. A Belgian experience would not be complete without the finest of pub grub including a selection of premium mussel dishes and the best burgers in town. Whether it be a weekend, weekday, lunch, dinner, happy hour or a night out, there is always something special to toast to at Belgian Café!

​</p>
<p>The safety and wellbeing of our guests and colleagues is our top priority, and we have implemented new hygiene procedures above and beyond our standard protocols. 

​

We've also introduced the IHG Clean Promise giving guests extra reassurance.  

Find out more at www.ihg.com/clean</p>

  <br />
    <br />
      <br />
    <br />

<div class="carousel-item active">
        <img class="d-block w-100" src="https://static.wixstatic.com/media/6e32d6_e3e35b3478c44adc907e67efc82a991b~mv2_d_2880_1920_s_2.jpg/v1/fill/w_1049,h_699,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6e32d6_e3e35b3478c44adc907e67efc82a991b~mv2_d_2880_1920_s_2.jpg" alt="First slide" style="height:500px;  ">
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  